<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Work ADM</title>
</head>
<body>

 <a href="/adm/painel-adm">nunca clique aqui</a>

</body>
</html>